.vscode/settings.json
Base/base.module.css
Base/font.module.css
Base/root.module.css
Base/Unmaintained/base.legacy.module.css
Canary/canaryAdditions.module.css
Chat/codeblocklanguage.module.css
Chat/displayChannelIcon.module.css
Chat/guildsFixer.module.css
Chat/newDevider.module.css
Emoji/blobsMoji.module.css
Emoji/jumboMoji.module.css
Misc/imports.dev.module.css
Misc/supporterPerks.module.css
Misc/Unmaintained/materialIcons.legacy.module.css
Plugins/betterFormatting.module.css
Plugins/citador.module.css
Plugins/clock.module.css
Plugins/editUser.module.css
Plugins/Unmaintained/renamer.plugin.legacy.module.css
Sidebar/newPlayingMessages.module.css
Sidebar/statusCircles.module.css
Sidebar/Unmaintained/userPopout.legacy.module.css
Sidebar/userPopout.module.css
Titlebar/customTitlebar.module.css
Titlebar/titlebarRemover.module.css
Webkit/placeholderRemover.module.css
Webkit/scrollbar.module.css
